.venv
__pycache__
state/wallets/*
!state/wallets/.gitkeep
state/blockchains/*
!state/blockchains/.gitkeep
state/msgs/*
!state/msgs/.gitkeep
state/aliases/*
!state/aliases/.gitkeep
scripts/run_auto.sh
scripts/run_auto_parallel.sh
/.idea
*.txt
